# Ignore everything except what PocketBase needs
*

# Allow PocketBase migration and hooks
!pb_migrations
!pb_hooks
!web/

# Allow seed data for baking DB into image
!deployment/seed_data
!deployment/pocketbase/

# Ignore standard pb_data (local dev usage)
pb_data/
*.db
*.db-wal
*.db-shm

# Ignore large files
*.tar
*.zip
*.exe
*.log
