# PocketBase database files - NEVER commit these
pb_data/
/pocketbase/pb_data/
/pocketbase/pb_data/auxiliary.db-wal
/pocketbase/pb_data/data.db-wal
/pocketbase/pb_data/data.db-shm
/pocketbase/pb_data/auxiliary.db-shm

# Environment files
/web/.env.local
/web/.env
*.env
prod.env

# Deployment notes
/deploy.md

# Build Artifacts
dist/
*.tar

# Logs
*.log

# Pocketbase binary
/pocketbase
*.exe

