# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next
out
build

# Version Control
.git
.github
.gitlab-ci.yml

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# System
.DS_Store
Thumbs.db
